<div class="container-fluid">
    <div class="row p-5">
        <h2 style="color: rgb(128, 29, 221);">Dashboard</h2>
    </div>
<div class="row mt-5">
    <div class="col-md-7 m-auto">
<div class="card">
    <div class="card-body ">

<div class="dept-head">
    
    <h3 >Department List</h3>
    </div>
  <div class="table-responsive">
    <table class="table table-success table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Id</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paginatedDashboardList; let i = index">
              <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
            </tr>
          </tbody>
      </table>
    
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="goToPage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
    
          <li class="page-item" *ngFor="let page of getPages()" [class.active]="currentPage === page">
           <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
          </li>
    
          <li class="page-item" [class.disabled]="currentPage === getPages().length">
            <a class="page-link" (click)="goToPage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
  </div>
  
    </div>
</div>
    </div>
    <div class="col-md-4 m-auto ">
<div class="card">
    <div class="card-body p-3 ">
        <div class="dept-head">
       <h3>Total Departments</h3>
    </div> 
      <h4 style="color: rgb(166, 9, 153); text-align: center;"> {{totalDepartment}}</h4>
    </div>
</div>
    </div>
</div>
</div>